name: 05 - Completed

on:
  workflow_call:
  workflow_dispatch:

jobs:
  notification:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    runs-on: ubuntu-latest

    steps:
      - name: Print Success Message
        run: echo "All previous workflows have been completed successfully."
