name: Deploy Docs
on:
  workflow_call:
  workflow_dispatch:
    paths:
      - 'docs/**'
      - 'mkdocs.yml'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[ci]
          git config user.email 41898282+github-actions[ci]@users.noreply.github.com

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - run: pip install mkdocs-material 

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force