name: 02 - Synk

on:
  workflow_run:
    workflows: ["01 - pre-commit"]
    types:
      - completed
    branches:
      - master
  workflow_dispatch:

jobs:
  synk-security-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: monitor
          args: --all-projects

      - name: Synk code scan
        uses: snyk/actions/python@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: code test
          args: --all-projects --severity-threshold=high --sarif-file-output=snyk-code.sarif --exit-code=0
